@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@layer base {
  * {
    text-wrap: balance;
  }
}

/* Add to src/index.css */
.slick-dots {
  bottom: 15px !important;
}

.slick-dots li button:before {
  font-size: 12px !important;
  color: white !important;
  opacity: 0.5 !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: white !important;
}